html, body {
	padding: 0;
	margin: 0;
}

.circleBase {
	border-radius: 50%;
	margin-left: 45%;
	vertical-align: 50%;
	width: 28px;
	height: 28px;
	background: white;
	border: 1px solid black;
}

#logHistoryDiv{
    overflow: auto;
	height: 210px;
    padding: 10px;
    font-family: "Courier New";
    width:100%;
}
#logHistoryDiv div {
    padding-left: 15px;
}
